.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8px 40px;

    width: 100%;
    height: 64px;

    /* Light/Background/Paper */

    background: #FFFFFF;

    .logo {
        display: flex;
        flex-direction: row;
        // align-content: center;
        align-items: center;

        .logo-icon {
            color: #0000ff;
            font-size: 35px;
            margin-right: 10px;
        }

        .logo-name {
            text-transform: uppercase;
            font-weight: bold;
        }
    }

    .search-container {
        .search-bar {
            border-radius: 15px;
            padding: 10px 20px 10px 30px;
            width: 400px;
            border: 1px solid #ccc;
            background-color: #f3f4f5;
            outline: none;


        }


    }

    .profile {
        // background-color: #000;
        // width: 30%;

        display: flex;
        flex-direction: row;
        justify-content: center;
        justify-items: center;

        .avatar-container {
            position: relative;

            .avatar {
                width: 40px;
                height: 40px;
                margin-right: 10px;

            }


            .settings {
                width: 200px;
                position: absolute;
                box-shadow: 2px 2px 5px 2px #ccc;
                left: -100px;
                top: 50px;
                border-radius: 5px;
                padding: 10px 0px 10px 0px;
                display: none;
                background-color: #fff;

                .options {
                    padding: 0px;
                    margin: 0xp;
                    list-style-type: none;

                    .opt {
                        cursor: pointer;
                        padding: 10px 30px;
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-start;
                        justify-items: center;
                        border-bottom: 1px solid #ccc;

                        .icon {
                            font-size: 24px;
                            margin-right: 10px;
                        }

                        .title {
                            // margin: auto;

                            text-align: center;
                            display: inline-block;
                        }


                    }

                    .opt:hover {
                        background: linear-gradient(270deg, #9155FD 0%, #C6A7FE 100%);
                        /* Light/Elevation/3 */

                        box-shadow: 0px 4px 6px -4px rgba(58, 53, 65, 0.1), 0px 6px 10px -4px rgba(58, 53, 65, 0.08), 0px 4px 8px -4px rgba(58, 53, 65, 0.16);


                        .icon,
                        .title {
                            color: #fff;
                        }
                    }
                }

            }
        }


        .name {
            display: inline-block;
            text-align: center;
            margin: auto;
        }


    }


}