* {
    box-sizing: border-box;
}

.container {
    margin: auto;
    display: flex;
    flex-direction: row;

    margin-top: 20px;
    width: 90%;
    height: 90vh;
    // height: 500px;
    // border: 1px solid #D35400;
    border-radius: 15px;

    box-shadow: 0px 8px 8px 0px #ccc;
    background-color: #fff;
    padding: 0px;


    .signin-logo-container {
        border-radius: 15px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        width: 60%;
        // background-image: url("../../../../assets/images/signin_logo.png");

        // height: inherit;
        padding: 0px;

        // background-position: center;
        // background-size: cover;
        // background-clip: content-box;

        .logo {
            width: 100%;
            height: 100%;
            border-radius: 15px;
            object-fit: cover;
        }
    }


    .inner-container {
        width: 45%;
        padding: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-items: center;

        .input-group {
            position: relative;
            margin-bottom: 15px;

            .icon {
                top: 15px;
                left: 10px;
                font-size: 20px;
                position: absolute;
                color: #0000ff;
            }

            .field {
                width: 100%;
                padding: 15px 0px 15px 35px;
                border-radius: 8px;
                border: 2px solid #ccc;
                box-shadow: 2px 2px 2px #ccc;
                outline: none;

            }


            .field:hover {
                border: 2px solid #0000ff;
            }

            .link {
                text-decoration: none;
                align-self: flex-end;
            }

        }

        .btn {
            padding: 15px;
            margin-bottom: 15px;
            border-radius: 50px;
            background-color: #D35400;
            color: #fff;
            font-weight: bold;
        }

        .link {
            text-decoration: none;
        }

        .link:hover {
            text-decoration: underline;
        }
    }

}