.navbar-container {
    background-color: #fff;
    width: 100%;
    height: 64px;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    border-right: 2px solid #ccc;
    border-top: 1px solid #ccc;
    padding-left: 20px;

    .navbar-links {
        // width: 100%;

        .list-link {
            display: flex;
            flex-direction: row;
            align-items: center;
            align-content: center;
            list-style-type: none;
            margin: 0px;
            padding: 0px;

            .link-container {
                margin-right: 10px;
                text-decoration: none;
                padding: 8px 30px;
                display: flex;
                flex-direction: row;
                align-items: center;
                align-content: center;
                width: 100%;
                border-radius: 10px;
                display: flex;
                // width: 148px;
                height: 42px;


                .link {
                    text-decoration: none;
                    text-align: center;
                    // font-family: 'Inter';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 24px;
                    /* identical to box height, or 150% */

                    letter-spacing: 0.15px;

                    /* Light/Text/Primary */

                    color: rgba(58, 53, 65, 0.87);


                }

                .icon {
                    margin-right: 10px;
                    font-size: 20px;
                    color: #000;
                }
            }

            .link-container:hover {


                background: linear-gradient(270deg, #9155FD 0%, #C6A7FE 100%);
                /* Light/Elevation/3 */

                box-shadow: 0px 4px 6px -4px rgba(58, 53, 65, 0.1), 0px 6px 10px -4px rgba(58, 53, 65, 0.08), 0px 4px 8px -4px rgba(58, 53, 65, 0.16);
                border-radius: 50px;

                .link {
                    color: #fff;


                }

                .icon {
                    color: #fff;
                }


            }



        }


    }
}